<ng-container *ngIf="repositories">
  <div infiniteScroll (scrolled)="onScroll()">
    <div class="card my-3" *ngFor="let repository of repositories">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center">
            <img src="{{repository?.owner?.avatar_url}}" class="img-fluid min-width">
          </div>
          <div class="col-md-10 text-md-left text-center">
            <h3>{{repository?.name}}</h3>
            <p>{{repository?.description}}</p>
            <div class="row justify-content-md-start justify-content-center">
              <div class="col-auto ">
                <span class="badge badge-warning">
                  Stars : {{repository?.stargazers_count | shortNumber}}
                </span>
              </div>
              <div class="col-auto">
                <span class="badge badge-danger">
                  Issues : {{repository?.open_issues_count | shortNumber}}
                </span>
              </div>
              <div class="col-auto">
                <p>
                  Submitted {{repository?.created_at | daysUpToNow }} days ago by
                  {{repository?.owner?.login}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>